USE [master]
GO
/****** Object:  Database [QLMa]    Script Date: 10/12/2017 9:37:59 PM ******/
CREATE DATABASE [QLMa] ON  PRIMARY 
( NAME = N'QLMa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLMa.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLMa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLMa_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMa]
GO
/****** Object:  Table [dbo].[LogDangNhaps]    Script Date: 10/12/2017 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDangNhaps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianDN] [datetime] NOT NULL,
	[IdND] [int] NOT NULL,
 CONSTRAINT [PK_LogDangNhaps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogDangXuats]    Script Date: 10/12/2017 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDangXuats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianDX] [datetime] NOT NULL,
	[IdND] [int] NOT NULL,
 CONSTRAINT [PK_LogDangXuats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LSKhoas]    Script Date: 10/12/2017 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSKhoas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDTKhoa] [int] NOT NULL,
	[ThoiGianKhoa] [datetime] NOT NULL,
	[LiDoKhoa] [nvarchar](max) NOT NULL,
	[SoNgayKhoa] [int] NOT NULL,
	[DoiTuong] [bit] NOT NULL,
 CONSTRAINT [PK_LSKhoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mas]    Script Date: 10/12/2017 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mas](
	[IdMa] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[ThoiGianKhoiTao] [datetime] NOT NULL,
	[ThoiGianHetHan] [datetime] NOT NULL,
	[ThoiGianLay] [datetime] NULL,
	[IDNguoiLay] [int] NULL,
	[IDNguoiTao] [int] NOT NULL,
	[SoKiTu] [int] NOT NULL,
 CONSTRAINT [PK_Mas] PRIMARY KEY CLUSTERED 
(
	[IdMa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 10/12/2017 9:37:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[IdND] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[TenNhanVien] [nvarchar](max) NOT NULL,
	[ChucVu] [bit] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[ChuThich] [nvarchar](max) NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[IdND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([IdND], [TaiKhoan], [MatKhau], [TenNhanVien], [ChucVu], [TrangThai], [ChuThich]) VALUES (1, N'admin', N'hwfbq', N'admin', 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
/****** Object:  Index [IX_FK_NguoiDungLogDangNhap]    Script Date: 10/12/2017 9:37:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_NguoiDungLogDangNhap] ON [dbo].[LogDangNhaps]
(
	[IdND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_NguoiDungLogDangXuat]    Script Date: 10/12/2017 9:37:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_NguoiDungLogDangXuat] ON [dbo].[LogDangXuats]
(
	[IdND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_NguoiDungMa]    Script Date: 10/12/2017 9:37:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_FK_NguoiDungMa] ON [dbo].[Mas]
(
	[IDNguoiTao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogDangNhaps]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungLogDangNhap] FOREIGN KEY([IdND])
REFERENCES [dbo].[NguoiDungs] ([IdND])
GO
ALTER TABLE [dbo].[LogDangNhaps] CHECK CONSTRAINT [FK_NguoiDungLogDangNhap]
GO
ALTER TABLE [dbo].[LogDangXuats]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungLogDangXuat] FOREIGN KEY([IdND])
REFERENCES [dbo].[NguoiDungs] ([IdND])
GO
ALTER TABLE [dbo].[LogDangXuats] CHECK CONSTRAINT [FK_NguoiDungLogDangXuat]
GO
ALTER TABLE [dbo].[Mas]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDungMa] FOREIGN KEY([IDNguoiTao])
REFERENCES [dbo].[NguoiDungs] ([IdND])
GO
ALTER TABLE [dbo].[Mas] CHECK CONSTRAINT [FK_NguoiDungMa]
GO
USE [master]
GO
